@{
    ViewData["Title"] = "Admin Panel";
}

<h1 class="text-center">Admin Panel</h1>

<div class="d-flex flex-column gap-2 col-12 col-md-6 mx-auto text-center border border-1 border-secondary rounded px-5 py-3">
    <h2 class="my-1">Actions</h2>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Venue" asp-action="Add">Add a Venue</a>
</div>
