@using EM.Common;

@if (User.Identity?.IsAuthenticated == true)
{
    @if (User.IsInRole(RoleConstants.Admin))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Venues" asp-action="Add">Add a venue</a>
        </li>
    }
}
